html, body
  height: 100%

body
  font-family: 'Roboto', sans-serif
  background: $grey

*
  box-sizing: border-box

a
  text-decoration: none

// hel
img.responsive
  width: 100%

.pull-right
  float: right

.row.nm
  margin-left: 0
  margin-right: 0
.tc
  text-align: center
.tl
  text-align: left
.tr
  text-align: right
.b
  font-weight: 700

.hamburger
  display: none

.navbar
  border: 0px
  background-color: $blue
  margin: 0
  height: 80px
  box-shadow: 0px 1px 3px 0px rgba(14, 14, 14, 0.53)

  &-collapse
    height: 1px
    overflow-y: hidden
    transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    background-color: $blue
    max-height: 500px!important
    &.in
      height: auto

  &-brand
    padding: 25px 15px
    height: 80px
    img
      width: 160px

  &-nav,
  .navbar-nav
    > li
      > a
        color: rgba($w, .87)
        text-decoration: none
        padding-top: 30px
        padding-bottom: 30px

        &:hover,
        &:focus
          color: rgba($w, 1)
          background: $tr

.dropdown-lang

  .dropdowns-cap
    padding-right: 10px

  ul.dropdown-menu
    padding: 0
    border: 0
    border-radius: 3px
    background-color: $blue
    box-shadow: 0px 1px 3px 0px rgba(14, 14, 14, 0.53)

    .divider
      margin: 0
      background-color: rgba($w, .14)

    > li
      > a
        font-size: 1rem
        text-decoration: none
        padding: 10px 20px
        color: rgba($w, .87)
        &:hover,
        &:focus
          color: rgba($w, 1)
          background-color: $tr

  &.open
    > a
      background-color: $tr



// welcome
section
  position: relative
  padding: 100px 0

.welcome
  padding: 0
  height: auto
  width: 100%
  background: url(../img/bg.jpg) no-repeat center center
  background-size: cover
  z-index: 1
  &::after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba($b, .3)
    z-index: -1
  &-box
    margin-top: 250px
    text-align: center
    margin-bottom: 150px

    &__text
      font-weight: 500
      color: $w



.icon-box
  margin-bottom: 100px
  text-align: left

  &.row
    margin-right: 0
    margin-left: 0
  &__icon
    float: left
    margin-right: 25px
    width: 120px
    height: 120px
    border-radius: 50%
    > img
      width: 100%
      height: 100%
  &__title
    font-weight: 500
    color: $w
  &__text
    font-weight: 400
    color: rgba($w, .57)


// content
.about
  border-radius: 5px
  background: $w
  box-shadow: 0px 13px 16px 0px rgba(14, 14, 14, 0.24)
  width: 100%
  max-width: 1270px
  margin-left: auto
  margin-right: auto
  margin-top: -40px
  padding: 50px 100px
  z-index: 2
  .box
    padding: 50px 0
  .title
    font-weight: 400
    text-align: center
    margin-bottom: 50px
  .s-title
    font-weight: 400
    color: rgba($b, .87)
    margin-bottom: 40px
  .s-text
    font-weight: 400
    color: rgba($b, .57)
    margin-bottom: 50px

.media
  margin-top: 80px
  &:first-child
    margin-top: 80px
  .media-left
    padding-right: 25px

  img
    width: 100px
    height: 100px
  .media-body
    vertical-align: middle

    h4
      margin-bottom: 15px

    p
      margin-bottom: inherit

.footer
  position: relative
  background: $dblue
  margin-top: -40px
  padding-top: 100px
  padding-bottom: 100px

  .social
    float: left
    width: 100%
    list-style-type: none
    padding: 0
    margin: 0

    li
      float: left
      background: $blue
      width: 40px
      height: 40px
      border-radius: 50%
      margin-right: 10px
      padding: 10px

      img
        width: 20px

  h5
    color: rgba($w, .87)
    font-weight: 400
    margin-top: 30px
    margin-bottom: 30px
    text-transform: uppercase
  p
    color: rgba($w, .57)
    margin: 10px 0
    cursor: pointer


$btn-default-color: $w
$btn-default-bg: $blue

// $btn-default-border: none

.sign
  position: relative
  max-width: 420px
  margin-top: 130px
  margin-left: auto
  margin-right: auto
  margin-bottom: 80px
  padding: 30px 60px
  background: $w
  text-align: center
  border-radius: 5px
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, .24)

  &.popover
    display: none
    position: absolute
    top: 100%
    right: 0
    width: 320px
    margin: 0
    padding: 30px

    &.in
      display: block
    > a
      font-size: 13px


  &-cover
    margin-bottom: 35px
    width: 150px
    height: 150px
    border-radius: 50%

  &-title
    text-transform: uppercase
    font-weight: 400
    margin-bottom: 30px

.logfrom
  width: 100%
  margin: 0 auto
  padding: 30px 0

  &.popover
    padding-bottom: 0

  &-input
    display: block
    float: left
    margin-bottom: 25px
    width: 100%
    padding: 10px 0
    border: none
    border-bottom: solid 1px $grey
    background: linear-gradient(to bottom, rgba($w, 0) 96%, $dblue 4%)
    background-position: -25rem 0
    background-size: 25rem 100%
    background-repeat: no-repeat
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1)

  input:focus,
  input:valid
    box-shadow: none
    outline: none
    border-color: $dblue
    background-position: 0 0

  input::-webkit-input-placeholder,
  input::-webkit-input-placeholder
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1)

  input:focus::-webkit-input-placeholder,
  input:valid::-webkit-input-placeholder
    color: rgba($b, .3)
    font-size: 14px
    transform: translateY(-25px)
    visibility: visible !important

  &-help
    text-decoration: underline
    color: $b
    &__one
      float: left
    &__two
      float: right


// btns
.btn
  position: relative
  font-size: 1.2rem
  padding: 15px 40px
  border-radius: 3px
  outline: 0
  text-transform: uppercase
  border: 0px
  transition: all .2s
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
  background-color: $blue

  &:hover,
  &:focus,
  &.focus
    outline: 0
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36)
    background-color: $blue

  &:active,
  &.active
    outline: 0
    background-image: none

.btn-default
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border)

.btn-gr
  @include button-variant($w, $green, $btn-primary-border)

.btn-info
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border)


.btn-dream
  background-color: $blue
  margin-bottom: 30px

.btn-gr
  background-color: $green

.btn-log
  text-transform: inherit
  width: 100%
  border-radius: 50px
  margin-top: 15px
  margin-bottom: 20px

//ripple
.withripple
  position: relative

.ripple-container
  position: absolute
  top: 0
  left: 0
  z-index: 1
  width: 100%
  height: 100%
  overflow: hidden
  border-radius: inherit
  pointer-events: none

.ripple
  position: absolute
  width: 20px
  height: 20px
  margin-left: -10px
  margin-top: -10px
  border-radius: 100%
  background-color: #fff
  background-color: rgba(255, 255, 255, 0.05)
  -webkit-transform: scale(1)
  -ms-transform: scale(1)
  -o-transform: scale(1)
  transform: scale(1)
  -webkit-transform-origin: 50%
  -ms-transform-origin: 50%
  -o-transform-origin: 50%
  transform-origin: 50%
  opacity: 0
  pointer-events: none

  &.ripple-on
    -webkit-transition: opacity 0.15s ease-in 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s
    -o-transition: opacity 0.15s ease-in 0s, -o-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s
    transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s
    opacity: .3
  &.ripple-out
    -webkit-transition: opacity 0.1s linear 0s !important
    -o-transition: opacity 0.1s linear 0s !important
    transition: opacity 0.1s linear 0s !important
    opacity: 0
